# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# no bin or obj folders
**/bin
**/obj

# no *.suo files
*.suo

# no *.user files
*.user

# no _pics folder
**/_pics

# no _Releases folder
**/_Releases
**/_Releases/KSPModAdmin/lang
**/_Releases/KSPModAdmin/Plugins
packages/HtmlAgilityPack.1.4.9/lib/Net20/*.dll
packages/HtmlAgilityPack.1.4.9/lib/Net20/*.pdb
packages/HtmlAgilityPack.1.4.9/lib/Net40-client/*.dll
packages/HtmlAgilityPack.1.4.9/lib/Net40-client/*.pdb
packages/HtmlAgilityPack.1.4.9/lib/Net40/*.dll
packages/HtmlAgilityPack.1.4.9/lib/Net40/*.pdb
packages/HtmlAgilityPack.1.4.9/lib/Net45/*.dll
packages/HtmlAgilityPack.1.4.9/lib/Net45/*.pdb
packages/HtmlAgilityPack.1.4.9/lib/NetCore45/*.dll
packages/HtmlAgilityPack.1.4.9/lib/NetCore45/*.pdb
packages/HtmlAgilityPack.1.4.9/lib/portable-net45+netcore45+wp8+MonoAndroid+MonoTouch/*.dll
packages/HtmlAgilityPack.1.4.9/lib/portable-net45+netcore45+wp8+MonoAndroid+MonoTouch/*.pdb
packages/HtmlAgilityPack.1.4.9/lib/portable-net45+netcore45+wpa81+wp8+MonoAndroid+MonoTouch/*.dll
packages/HtmlAgilityPack.1.4.9/lib/portable-net45+netcore45+wpa81+wp8+MonoAndroid+MonoTouch/*.pdb
packages/HtmlAgilityPack.1.4.9/lib/sl4/*.dll
packages/HtmlAgilityPack.1.4.9/lib/sl4/*.pdb
packages/HtmlAgilityPack.1.4.9/lib/sl5/*.dll
packages/HtmlAgilityPack.1.4.9/lib/sl5/*.pdb